<div class="container">
    <h1>Gists</h1>

    <div>
        <label>
            <input class="file-name" type="text" ng-model="fileName" placeholder="Put here the name of the file..." />
        </label>

        <br><br>

        <label>
            <textarea class="file-content" ng-model="fileContent" placeholder="Put your code here..." rows="33" cols="100"></textarea>
        </label>

        <br>

        <button ng-click="saveGist(fileName, fileContent)">Save</button>
    </div>

    <br><hr>

    <div>
        <ul>
            <li ng-repeat="gist in gists"><a href="/gist/{{gist._id}}">{{gist.name}}</a></li>
        </ul>
    </div>
</div>
